html{
    background-color: rgb(0, 0, 0);
}
h1{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 36px;
}
.main-content{
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 180, 180);
    margin-top: 10px;
    padding: 30px;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: rgb(101,64,153);
    padding: 10px;
    margin-top: 10px;
}
nav ul{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    justify-content: space-evenly;
    height: 100%;
}
nav ul a{
    background-color: rgb(180,152,89);
    padding: 10px;
    text-decoration: none;
    color: black;
    border: black 1px solid;
}

nav ul li{
    display: flex;
}

.values-icon{
    max-width: 150px;
    min-width: 100px;
    width: 100%;
    padding: 10px;
}

.title{
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color:rgb(173, 180, 180);;
}
#widescreen-nav{
    display: none;
}
.title h1{
    display: flex;
    font-size: 36px;
    margin: 10px;
    align-items: center;
    max-width: fit-content;
    font-family: sans-serif;
}
.greek{
    margin-top: 5px !important;
    padding-top: 0px !important;
    min-width: fit-content;
}
.title-space{
    display: flex;
    max-width: 140px;
    flex: 1;
    width: 100%;
}
.title img{
    display: flex;
    max-width: 140px;
    min-width: 100px;
    flex: 1;
    width: 100%;
}
.title picture{
    display: flex;
    margin: 10px;
    margin-top: auto;
    margin-bottom: auto;
    left: 0px;
}
.title-text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
body{
    z-index: 0;
}
header{
    z-index: 2;
    display: flex;
    flex-direction: column;
}

#ham-image{
    /* image is an svg */
    max-width: 50px;
    max-height: 50px;
}
#hamburger{
    background-color: rgb(101,64,153);
    width: 100%;
    padding: 10px;
}
#ham-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00000050;
    z-index: 1;
}

.hidden{
    display: none !important;
}

button{
    background-color: rgb(180,152,89);
    border-color: black;
}
.menu {
    display: none;
}

.carouselpic {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.slides{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.home-slide-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.home-slide-button:hover, .carousel button:hover{
    background-color: rgb(101,64,153);
    cursor:pointer;
}
.home-slide-button{
    width: 100px;
    height: 100px;
    border: 1px black solid;
    border-radius: 50%;
}
.selected{
    background-color: rgb(101,64,153);
}
.slide{
    display: flex;
    justify-content: center;
}
.slide img{
    display: flex;
    max-width: 80%;
    height: auto;
}
.columns{
    display: flex;
    flex-direction: column;
}
.right-column{
    width: 50%;
    margin: 1em;
}
.columns img{
    width: 70%;
    height: auto;
}
#recruitment-img{
    max-width: 650px; /* this is the true dimension */
    min-width: 200px;
    width: 100%;
}
.left-column{
    width: 50%;
    margin-right: 10px;
}
.question{
    cursor: pointer;
    padding: 5px;
}

.question:hover{
    background-color: #ffffff30;
}

.answer{
    border: 2px solid black;
    border-radius: 3px;
    background-color:rgb(218, 226, 226);
    padding: 5px;
}

.left-column, .right-column {
    width: 100%;
    margin: 0px;
}

.columns {
    margin: 10px;
    margin-left: 0;
}

.home-slide-button {
    margin: 10px;
    width: 40px;
    height: 40px;
}
.carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}
.carouselpic{
    max-height: 300px; /* actual dimension of images */
    max-width: 400px; /* actual dimension of images */
    width: 50%;
}
.carousel button{
    font-size: 30px;
    font-weight: bold;
    width: 20%;
    min-width: fit-content;
}
.values{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.values-text{
    width: 70%;
    margin-left: 20px;
}

#philanthropy-text{
    width: 100%;
}
nav a{
    margin: 5px;
}

.gray-out{
    opacity: 30%;
}

.anti-grayout{
    opacity: 100%;
}

.modal{
    z-index: 200;
}

.quote-popup .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.brotehrs-photo{
    background-color: rgb(173, 180, 180);
    text-align: center;
}

.brotehrs-photo button{
    margin: 1em;
    background-color: rgb(173, 180, 180);
    border: none;
}

.brotehrs-photo button:hover{
    opacity: 80%;
    cursor: pointer;
}

.quote-popup {
    z-index: 100;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
}



#philanthropy-text{
    min-width: 80%;
}
#valueslist{
    background-color: rgb(101,64,153);
    color: #e7e7e7;
    margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
    .left-column{
        margin-right: 30px;
    }
    #philanthropy-text{
        min-width: 50%;
    }
    .carousel button{
        width: 5%;
    }
    #hamburger, #hamburger-menu{
        display: none;
    }
    #widescreen-nav{
        display: flex;
    }
    .menu {
        display: flex;
    }

    .carouselpic {
        width: 60%;
    }
    nav{
        display: flex;
        flex-direction: row;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
    }
    nav ul a{
        font-size: 26px;
    }
    .title h1{
        font-size: 48px;
        margin: 20px;
    }
    .greek{
        margin: 0px;
        margin-top: 15px !important;
        padding-top: 0px !important;
        min-width: fit-content;
    }


    .columns{
        display: flex;
        flex-direction: row;
    }

    .values{
        display: flex;
        flex-direction: row;
    }

    #philanthropy-div{
        display: flex;
        flex-direction: row;
    }
    #philanthropy-text{
        width: 30%;
    }
    .values-text{
        width: 100%;
    }
}
