body{
    z-index: 0;
}

header{
    z-index: 2;
}

#ham-image{
    /* image is an svg */
    max-width: 50px;
    max-height: 50px;
}

#ham-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00000050;
    z-index: 1;
}

.hidden{
    display: none;
}
